/*
 Avoid overlapping navbar.
 */
body {
    padding-top: 65px;
}

/*
 Align form labels to the left. See
 stackoverflow.com/questions/31303482/bootstrap-label-align-left
*/
.form-horizontal .control-label {
    text-align: left !important;
}

/*
 Change text color in panel headings, to make it visible
 */
.panel-primary > .panel-heading > a {
    color: white;
    text-decoration: none;
}
.panel-error > .panel-heading > a {
    color: darkred;
    text-decoration: none;
}
.panel-success > .panel-heading > a {
    color: darkgreen;
    text-decoration: none;
}
.panel > .panel-heading > a:link {
    text-decoration: none;
}
.panel > .panel-heading > a:visited {
    text-decoration: none;
}
.panel > .panel-heading > a:hover {
    text-decoration: none;
}

// Disable collapse animation. See
// http://stackoverflow.com/questions/21162313
.collapsing {
    -webkit-transition: none;
    transition: none;
}